{%- if loopindex == 1 -%}
  {%- assign float = "left" -%}
  {%- assign margin = "right" -%}
{%- else -%}
  {%- assign float = "right" -%}
  {%- assign margin = "left" -%}
{%- endif -%}

{%- if namePosition == "h2" -%}
  <h2>{{ item.name }}</h2>
{%- else -%}
  {%- assign noTitle = "true"  -%}
{%- endif -%}
<div>
  <div class="row">
    <div style="width: 30%; float: {{float}}; margin-{{margin}}: 5%; margin-bottom: 10px;">
      <img src="{{ item.image | prepend: site.baseurl  }}">
      {%- if item.contact -%}
        <div>
          <a href="mailto:{{item.contact}}">Le contacter</a>  
        </div>
      {%- endif -%}
    </div>
    <div>
      {%- if noTitle == "true" -%}
        <p><strong>{{item.name}}</strong></p>
      {%- endif -%}
      <p>{{ item.content }}</p>
    </div>
  </div>
</div>