{%- if site.facebook.publisher_id -%}
<div style="text-align: center; display: block; word-wrap: break-word; -webkit-font-smoothing: antialiased;">
  <div>
  <div class="fb-page" data-href="https://www.facebook.com/{{ site.facebook.publisher_id }}/"  data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/{{ site.facebook.publisher_id }}/" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/{{ site.facebook.publisher_id }}/">Loading...</a>
    </blockquote>
  </div>
  </div>
</div>
{%- endif -%}
