{%- assign home_page = site.pages | where:"ref", "home" | first -%}
{%- if home_page -%}
  <a href="{{ home_page.url | prepend: site.baseurl }}"> Page d'accueil</a>
{%- else -%}
  <a href="{{ site.baseurl }}"> Page d'accueil</a>
{%- endif -%}
