
{% assign goal = site.collected | times: 100 %}


{% assign goal = goal | divided_by: site.goal %}

<div class="goal-container">
	<div class="goal-bar">
	  <div class="goal" style="width: {{ goal }}%"></div>
	</div>

	<div class="goal-label"> {{ site.collected }} € / {{ site.goal }} €  </div>
</div>

<div style="width: 100%; text-align: center; margin-bottom: 20px" >
	<button class="btn" onclick="location.href='https://www.okpal.com/dispensaire-au-burkina-faso/'" type="button">Participer</button>
</div>