{%- assign posts = site.posts -%}
{%- assign max_posts = include.max | posts.size -%}
<ul class="post-list">
  {%- for post in posts limit:max_posts -%} 
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title | escape }}</a>
      </h2>
      <div class="post-meta-list">
        {%- include post-meta-info.html post_date=post.date post_url=post.url -%}
      </div>

      {% if post.image and include.show-pictures %}
        <img src="{{ post.image | prepend: site.baseurl"}}" alt="{{post.title | escape}}">
      {%- endif -%}

      <span>{{ post.excerpt | default: post.tagline | markdownify | truncatewords: 140 }}</span>
  
      <div class="post-meta-list"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">En savoir plus...</a></div>
    </li>
  {%- endfor -%}  
  </ul>
{%- if max_posts < posts.size -%}
  {%- capture category_url -%}{%- include get-page-url.html page_ref=category -%}{%- endcapture -%}
  <a href="{{ category_url }}" class="btn btn-dark">Montrer plus...</a>
{%- endif -%}
