<div>
  <time datetime="{{ include.post_date | date_to_xmlschema }}" itemprop="datePublished">
    {{ include.post_date | date: "%-d " }}
    {%- assign m = include.post_date | date: "%-m" -%}
    {%- case m -%}
      {%- when '1' -%}Janvier
      {%- when '2' -%}Février
      {%- when '3' -%}Mars
      {%- when '4' -%}Avril
      {%- when '5' -%}Mai
      {%- when '6' -%}Juin
      {%- when '7' -%}Juillet
      {%- when '8' -%}Août
      {%- when '9' -%}Septembre
      {%- when '10' -%}Octobre
      {%- when '11' -%}Novembre
      {%- when '12' -%}Décembre
    {%- endcase -%}
    {{ include.post_date | date: " %Y" }}
  </time>
    {% comment %}
      <span style="padding-left: 5px; padding-right: 5px;"> • </span>
      <span itemprop="readtime">
        {%- capture read_time -%}{%- include read-time.html -%}{%- endcapture -%}{{ read_time | strip }}
      </span>
    {% endcomment %}
</div>
