// Breakpoints
$large-breakpoint: 55em !default;
$medium-breakpoint: 42em !default;
$small-breakpoint: 35em !default;

// Text
$section-headings-color: #0b1e6f !default; // #999999 #159957
$body-text-color: #040b2a !default; // 606c71
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #6a737d !default; // 819198


// Headers
$header-heading-color: $section-headings-color !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;


// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
