---
---

@import 'jekyll-theme-simple-blog';

.pad-top {
	position: relative;
	width: 100%; 
	padding-top: 10px;
}

.pad-bottom {
	position: relative;
	width: 100%; 
	padding-bottom: 10px;
}