.author-article {
  display: -ms-flexbox!important;
  display: flex!important;
  display: block;
}

.author-picture {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.author-bio {
    padding-left: 15px!important;
    overflow: hidden!important;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.author-image {
  border-radius: 100%;
  width: 50ox;
  height: 50px;
}

.en:lang(en), .it:lang(it) {
  background-color: black;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.goal-container {
    position: relative;
    width: 100%; /* Full width */
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 10%;
    padding-left: 10%;
}

/* Container for skill bars */
.goal-bar {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    height: 30px;
}

.goal {
    height: 30px;
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
    background-color: $header-bg-color;
}

.goal-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  background: $header-bg-color;
  background-image: -webkit-linear-gradient(top, $header-bg-color, $header-bg-color);
  background-image: -moz-linear-gradient(top, $header-bg-color, $header-bg-color);
  background-image: -ms-linear-gradient(top, $header-bg-color, $header-bg-color);
  background-image: -o-linear-gradient(top, $header-bg-color, $header-bg-color);
  background-image: linear-gradient(to bottom, $header-bg-color, $header-bg-color);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: $header-bg-color-secondary;
  background-image: -webkit-linear-gradient(top, $header-bg-color-secondary, $header-bg-color-secondary);
  background-image: -moz-linear-gradient(top, $header-bg-color-secondary, $header-bg-color-secondary);
  background-image: -ms-linear-gradient(top, $header-bg-color-secondary, $header-bg-color-secondary);
  background-image: -o-linear-gradient(top, $header-bg-color-secondary, $header-bg-color-secondary);
  background-image: linear-gradient(to bottom, $header-bg-color-secondary, $header-bg-color-secondary);
  text-decoration: none;
}


@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin xsmall {
  @media screen and (max-width: #{$small-breakpoint}) {
    @content;
  }
}

.banner-img {
  max-width: 45%; 
  max-height: 10em;
  @include small {
    max-width: 90%;  
  }
}

.banner-img-md {
  max-width: 20%; 

  @include small {
    display: none;
  }
}

.page-header-section {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
}