<!DOCTYPE html>
<html lang="fr" itemscope itemtype="http://schema.org/Organization">

  <head>
    <!-- Non social metatags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#157878">

    {%- if page.title and page.layout == 'page' -%}
      {%- assign page_title = page.title | append: ' | ' | append: site.title | escape -%}
    {%- elsif page.title -%}
      {%- assign page_title = page.title | escape -%}
    {%- else -%}
      {%- assign page_title = site.title | escape -%}
    {%- endif -%}

    {%- if page.title -%}
      {%- assign header_title = page.title | escape -%}
    {%- else -%}
      {%- assign header_title = site.title | escape -%}
    {%- endif -%}

    <title>{{ page_title }}</title>

    {%- if site.gems contains "jekyll-seo-tag" -%}
      <!-- jekyll-seo-tag -->
    {%- else -%}
      {%- include social-metatags.html -%}
    {%- endif -%}

    {%- assign canonical_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url -%}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


<!--     <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed-' | prepend: site.baseurl | prepend: site.url | append: page.lang | append: '.xml' }}">
 -->

    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/favicon/apple-icon-57x57.png' | prepend:
    site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/favicon/apple-icon-60x60.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/favicon/apple-icon-72x72.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/favicon/apple-icon-76x76.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/favicon/apple-icon-114x114.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/favicon/apple-icon-120x120.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/favicon/apple-icon-144x144.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/favicon/apple-icon-152x152.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-icon-180x180.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ '/assets/favicon/android-icon-192x192.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/favicon/favicon-96x96.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ '/assets/favicon/manifest.json' | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ '/assets/favicon/ms-icon-144x144.png' | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">


    <!-- <link rel="alternate" media="only screen and (max-width: 640px)" href="">
    <link rel="alternate" media="handheld" href=""> -->

    <link href='assets/fonts/open-sans.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">


  </head>
  <body>

    {%- include site-header.html -%}

    {%- unless page.layout == 'home' -%}
      {%- assign header-padding = "40px" -%}
      {%- assign header-padding-bottom = "20px" -%}
    {%- endunless -%}

    {%- if page.layout == 'page' or page.layout == 'category' -%}
      {%- assign page-tagline = page.tagline | escape -%}
    {%- endif -%}

    {%- if page.layout == 'post' -%}
      {%- assign page-tagline = header_title -%}
    {%- endif -%}

  <section style="background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url('{{ site.baseurl }}{{ page.header.image | default: site.header.image }}') center center repeat;" class="page-header-section">
    <div class="pad-top {%- if page-tagline == nil -%}{{' pad-bottom'}} {%- endif -%}">
      <div class="page-header-container" style="width: 100%;">
        <img class="banner-img banner-img-md" src="{{ '/assets/img/icon.png' | prepend: site.baseurl }}">
        <img class="banner-img" src="{{ '/assets/img/facade.png' | prepend: site.baseurl }}">
        <img class="banner-img banner-img-md" src="{{ '/assets/img/joachim_thumb.jpg' | prepend: site.baseurl }}">
      </div>
  
    </div>
    {%- unless page.layout == 'home' -%}
      <h2 class="project-tagline" style="text-align: center;">{{ header_title }}</h2>
    {%- endunless -%}
  </section>


    <section class="main-content">

      {{ content }}

      {%- include footer.html -%}

    </section>

    <script type="text/javascript">
      var menu = document.querySelector("nav.site-nav");
      var checkbox = document.getElementById("nav-trigger");

      // close menu if click outside menu
      document.addEventListener("click", function(e) {
        if (menu != e.target &&
            ! isDescendant(menu, e.target)) {
          checkbox.checked = false;
        }

      }, false);

      function isDescendant(parent, child) {
           var node = child.parentNode;
           while (node != null) {
               if (node == parent) {
                   return true;
               }
               node = node.parentNode;
           }
           return false;
      }

    </script>
  </body>
</html>
