---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  {%- assign post-tagline = page.tagline | default: page.repository.project_tagline | escape -%}

  <div itemprop="articleBody">
    <h3> {{ post-tagline }} </h3>

    {{ content }}
    <br />
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}


</article>
